.home-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 400px;
  }
  
  
  .home-container p {
    margin: 5px 0;
  }
  

  